In [3]:
#Criação de Base de dados Mysql
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, String

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018"
)

# Create a MySQL cursor
mycursor = mydb.cursor()

try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS hotel_bookings")
except:
    pass

# Switch to the 'hotel_bookings' database
mycursor.execute("USE hotel_bookings")

print("Database 'hotel_bookings' created successfully!")

Database 'hotel_bookings' created successfully!

In [109]:
#Criação de Tabelas no maysql
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018"
)

mycursor = mydb.cursor()
mycursor.execute("USE hotel_bookings")

# Create the 'rooms' table
mycursor.execute("""
CREATE TABLE main_info (
    id_reservation INT AUTO_INCREMENT PRIMARY KEY,
    hotel VARCHAR(255),
    lead_time INT,
    arrival_date_year INT,
    arrival_date_month VARCHAR(255),
    arrival_date_week_number INT,
    arrival_date_day_of_month INT,
    country VARCHAR(255),
    market_segment VARCHAR(255),
    distribution_channel VARCHAR(255),
    is_repeated_guest INT,
    booking_changes INT,
    days_in_waiting_list INT,
    company VARCHAR(255),
    customer_type VARCHAR(255),
    reservation_status_date DATE
);

""")

# Create the 'bookings' table
mycursor.execute("""
CREATE TABLE reservas_status (
    id_reservation INT,
    is_canceled INT,
    arrival_date_year INT,
    arrival_date_month VARCHAR(255),
    agent VARCHAR(255),
    previous_cancellations INT,
    previous_bookings_not_canceled INT,
    country VARCHAR(255),
    deposit_type VARCHAR(255),
    reservation_status VARCHAR(255),
    PRIMARY KEY (id_reservation),
    FOREIGN KEY (id_reservation) REFERENCES Main_Info(id_reservation)
);

""")

# Create the 'guests' table
mycursor.execute("""
CREATE TABLE stays_info (
    id_reservation INT,
    stays_in_week_nights INT,
    stays_in_weekend_nights INT,
    adults INT,
    children INT,
    babies INT,
    required_car_parking_spaces INT,
    meal VARCHAR(255),
    reserved_room_type VARCHAR(255),
    total_of_special_requests INT,
    PRIMARY KEY (id_reservation),
    FOREIGN KEY (id_reservation) REFERENCES Main_Info(id_reservation)
);

""")

# Commit the changes to the database
mydb.commit()
print("Database 'Table main_rnfo, reservas_status, stays_info ' created successfully!")
# Close the connection to the database
mydb.close()

Database 'Table main_rnfo, reservas_status, stays_info ' created successfully!

In [110]:
#Insert de dados no mysql usando o ficheiro csv 
import pandas as pd
import time
from sqlalchemy import create_engine

# Carrega os dados CSV em DataFrames
df1 = pd.read_csv('Tabela1.csv')
df2 = pd.read_csv('Tabela2.csv')
df3 = pd.read_csv('Tabela3.csv')

# Estabeleça uma conexão com o banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Medir o tempo de execução
start_time = time.time()

# Inserir dados na base de dados
try:
    with engine.begin() as connection:
        df1.to_sql('main_info', con=connection, if_exists='append', index=False)
        df2.to_sql('reservas_status', con=connection, if_exists='append', index=False)
        df3.to_sql('stays_info', con=connection, if_exists='append', index=False)
        
    # if_exists: Este parâmetro determina o que fazer se a tabela já existir no banco de dados.
    # 'fail': Gera um ValueError se a tabela existir.
    # 'replace': Substitui a tabela existente se ela já existir.
    # 'append': Adiciona os novos dados à tabela existente.

    end_time = time.time()
    execution_time = end_time - start_time
    
    print(f"Dados inseridos com exito. Tempo de execução: {execution_time:.2f} segundos.")

# Exibir o erro caso a inserção falhar
except Exception as e:
    print(f"Error: {e}")

Dados inseridos com exito. Tempo de execução: 62.35 segundos.

In [1]:
#1-Consulta simples
#Quais são os país que tiveram resevas superior a 1000 e, em que ano e mes que isto aconteceu e o hotel que mais requições teve?
#R:
import time
import pandas as pd
from sqlalchemy import create_engine

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Registre o tempo de início
start_time = time.time()

# Consulta SQL corrigida
sql_consulta = """
    SELECT
        hotel,
        country,
        arrival_date_year AS arrival_year,
        arrival_date_month AS arrival_month,
        COUNT(*) AS total_reservas
    FROM
        main_info 
    GROUP BY
        hotel, country, arrival_date_year, arrival_date_month
    HAVING
        COUNT(*) > 1000
    ORDER BY
        total_reservas DESC
"""

# Registre o tempo de fim


# Execute a consulta e armazene o resultado em um DataFrame
df_sql = pd.read_sql(sql_consulta, con=engine)
end_time = time.time()
execution_time = end_time - start_time
# Exiba o DataFrame resultante
print(df_sql)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

            hotel country  arrival_year arrival_month  total_reservas
0   Hotel 7 Seven     PRT          2015     September            2293
1   Hotel 7 Seven     PRT          2015       October            2206
2   Hotel 7 Seven     PRT          2016          June            1897
3   Hotel 7 Seven     PRT          2017           May            1552
4   Hotel 7 Seven     PRT          2015        August            1548
5   Hotel 7 Seven     PRT          2016           May            1531
6   Hotel 7 Seven     PRT          2016       October            1435
7   Hotel 7 Seven     PRT          2016         April            1426
8   Hotel 7 Seven     PRT          2016     September            1350
9   Hotel 7 Seven     PRT          2017          June            1341
10  Hotel 7 Seven     PRT          2015          July            1300
11  Hotel 7 Seven     PRT          2016      November            1200
12  Hotel 7 Seven     PRT          2016      February            1136
13  Hotel 7 Seven     PRT          2017         April            1132
14  Hotel 7 Seven     PRT          2016         March            1114
15  Hotel 7 Seven     PRT          2017         March            1006
Tempo de execução: 3.37 segundos.

In [194]:
#2-Consulta simples
#Quais são os país que tiveram resevas alteradas suerior a 100 e, em que ano isto ocorreu? 
#R:
start_time = time.time()
sqlConsult = """
    SELECT
    arrival_date_year,
    country,
    COUNT(*) AS total_reservas_alteradas
FROM
    main_info
WHERE
    booking_changes = 0 
GROUP BY
    arrival_date_year, country
HAVING
    COUNT(*) > 90
ORDER BY
    arrival_date_year;
"""
#A cláusula HAVING é usada em combinação com GROUP BY para filtrar os resultados de uma agregação com base a contagem das reservas.
#Neste caso, estamos filtrando os resultados para incluir apenas as linhas onde o total de reservas é maior que 100.
# Execute a consulta e armazene o resultado em um DataFrame
dfSql = pd.read_sql(sqlConsult, con=engine)
end_time = time.time()
execution_time = end_time - start_time
#Estas linhas, permitem remover o numero total de linhas e colunas a serem exibidas 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# Exiba o DataFrame resultante
print(dfSql)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    arrival_date_year country  total_reservas_alteradas
0                2015    None                       110
1                2015     BEL                       172
2                2015     BRA                       123
3                2015     CHE                       107
4                2015      CN                       112
5                2015     DEU                       459
6                2015     ESP                      1634
7                2015     FRA                      1126
8                2015     GBR                      1136
9                2015     IRL                       436
10               2015     ISR                       108
11               2015     ITA                       432
12               2015     NLD                       161
13               2015     PRT                     11811
14               2015     SWE                       113
15               2015     USA                       140
16               2016    None                       224
17               2016     AGO                       153
18               2016     ARG                        93
19               2016     AUS                       147
20               2016     AUT                       544
21               2016     BEL                       960
22               2016     BRA                       868
23               2016     CHE                       714
24               2016     CHN                       465
25               2016      CN                       439
26               2016     DEU                      3226
27               2016     DNK                       150
28               2016     ESP                      3331
29               2016     FIN                       206
30               2016     FRA                      4432
31               2016     GBR                      4368
32               2016     HUN                        92
33               2016     IRL                      1230
34               2016     ISR                       229
35               2016     ITA                      1572
36               2016     LUX                       109
37               2016     MAR                       106
38               2016     NLD                       905
39               2016     NOR                       222
40               2016     POL                       426
41               2016     PRT                     19613
42               2016     ROU                       202
43               2016     RUS                       205
44               2016     SWE                       413
45               2016     TUR                       132
46               2016     USA                       767
47               2017     AGO                        97
48               2017     AUS                       191
49               2017     AUT                       406
50               2017     BEL                       870
51               2017     BRA                       851
52               2017     CHE                       637
53               2017     CHN                       382
54               2017      CN                       541
55               2017     DEU                      2366
56               2017     DNK                       176
57               2017     ESP                      2152
58               2017     FIN                       131
59               2017     FRA                      3285
60               2017     GBR                      4360
61               2017     IRL                      1163
62               2017     ISR                       223
63               2017     ITA                      1110
64               2017     LUX                       113
65               2017     NLD                       662
66               2017     NOR                       255
67               2017     POL                       239
68               2017     PRT                     11182
69               2017     ROU                       165
70               2017     RUS                       229
71               2017     SWE                       314
72               2017     USA                       752
Tempo de execução: 2.72 segundos.

In [9]:
import pandas as pd
from sqlalchemy import create_engine
import time

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# (1) Consulta com junção e agregação
# Query complexa 1: casais sem filhos ou com filhos, quem cancela mais reservas
print('QUERY COMPLEXA 1 CASAIS SEM FILHO OU COM FILHOS QUEM CANCELA MAIS RESERVAS?\n')
start_time = time.time()
sql_agregacao = """
    SELECT main_info.country, main_info.hotel, stays_info.adults, stays_info.children, reservas_status.reservation_status
    FROM main_info 
    JOIN stays_info ON main_info.id_reservation = stays_info.id_reservation
    JOIN reservas_status ON main_info.id_reservation = reservas_status.id_reservation
    WHERE stays_info.adults > 0
      AND (stays_info.children > 0 OR stays_info.babies > 0)
      AND reservas_status.reservation_status NOT LIKE 'Canceled'
    LIMIT 0, 20;
"""
# Execute a consulta e armazene o resultado em um DataFrame
df_agregacao = pd.read_sql(sql_agregacao, con=engine)
end_time = time.time()
execution_time = end_time - start_time

# Exiba o resultado do DataFrame
print(df_agregacao)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

# Query complexa 2: casais sem filhos ou com filhos, têm estacionamento e/ou refeições
print('\n')
print('QUERY COMPLEXA 2 CASAIS SEM FILHO OU COM FILHOS TEM PARQUEAMENTO E/OU REFEIÇÕES\n')

start_time = time.time()
sql_rn_canceladas = """
    SELECT main_info.country, main_info.hotel, stays_info.adults, stays_info.babies, stays_info.required_car_parking_spaces as car_parking , stays_info.children, stays_info.meal
    FROM main_info 
    JOIN stays_info ON main_info.id_reservation = stays_info.id_reservation
    WHERE stays_info.adults > 0 
      AND (stays_info.children > 0 OR stays_info.babies > 0) 
      AND (stays_info.required_car_parking_spaces > 0 
        OR stays_info.meal NOT LIKE 'Undefined' 
        OR stays_info.meal NOT LIKE 'SC')
    LIMIT 20;
"""
# Execute a consulta e armazene o resultado em um DataFrame
df_rnc = pd.read_sql(sql_rn_canceladas, con=engine)
end_time = time.time()
execution_time = end_time - start_time

# Exiba o DataFrame resultante
print(df_rnc)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

QUERY COMPLEXA 1 CASAIS SEM FILHO OU COM FILHOS QUEM CANCELA MAIS RESERVAS?

   country         hotel  adults  children reservation_status
0      ESP  Resort Hotel       2         1          Check-Out
1      ESP  Resort Hotel       2         2          Check-Out
2      USA  Resort Hotel       2         2          Check-Out
3      PRT  Resort Hotel       2         1          Check-Out
4      FRA  Resort Hotel       1         2          Check-Out
5      PRT  Resort Hotel       2         0          Check-Out
6      PRT  Resort Hotel       2         0          Check-Out
7      PRT  Resort Hotel       2         1          Check-Out
8      PRT  Resort Hotel       2         2          Check-Out
9       CN  Resort Hotel       2         1          Check-Out
10     PRT  Resort Hotel       2         2          Check-Out
11     CHE  Resort Hotel       2         2          Check-Out
12     PRT  Resort Hotel       2         2          Check-Out
13     CHE  Resort Hotel       2         2          Check-Out
14     PRT  Resort Hotel       2         0          Check-Out
15     PRT  Resort Hotel       2         1          Check-Out
16     PRT  Resort Hotel       2         2          Check-Out
17     PRT  Resort Hotel       2         1          Check-Out
18     ESP  Resort Hotel       3         2          Check-Out
19     PRT  Resort Hotel       2         2          Check-Out
Tempo de execução: 0.02 segundos.


QUERY COMPLEXA 2 CASAIS SEM FILHO OU COM FILHOS TEM PARQUEAMENTO E/OU REFEIÇÕES

   country         hotel  adults  babies  car_parking  children meal
0      ESP  Resort Hotel       2       0            0         1   HB
1      PRT  Resort Hotel       2       0            0         2   BB
2      ESP  Resort Hotel       2       0            1         2   BB
3      USA  Resort Hotel       2       0            1         2   BB
4      PRT  Resort Hotel       2       0            0         1   BB
5      PRT  Resort Hotel       2       0            1         1   BB
6      FRA  Resort Hotel       1       0            0         2   BB
7      PRT  Resort Hotel       2       0            0         2   BB
8      PRT  Resort Hotel       2       1            0         0   BB
9      PRT  Resort Hotel       2       1            0         0   HB
10     PRT  Resort Hotel       2       0            0         1   HB
11     PRT  Resort Hotel       2       0            1         2   BB
12      CN  Resort Hotel       2       0            1         1   BB
13     PRT  Resort Hotel       2       0            0         2   BB
14     PRT  Resort Hotel       2       0            1         2   HB
15     CHE  Resort Hotel       2       0            1         2   BB
16     PRT  Resort Hotel       2       0            0         2   BB
17     CHE  Resort Hotel       2       0            1         2   HB
18     PRT  Resort Hotel       2       1            0         0   BB
19     PRT  Resort Hotel       2       0            0         1   BB
Tempo de execução: 0.01 segundos.

In [31]:
# ATUALIZAÇÃO DE DADOS mysql
import pandas as pd
from sqlalchemy import create_engine, text
import time

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Novo valor para a coluna hotel
novo_hotel = "City Hotel"
start_time = time.time()
# Consulta de atualização
sql_update = text(f"""
    UPDATE main_info
    SET hotel = :novo_hotel
    WHERE hotel = "7 Hotel"
""")

# Execute a consulta de atualização
with engine.begin() as connection:
    connection.execute(sql_update, {"novo_hotel": novo_hotel})
end_time = time.time()
execution_time = end_time - start_time
print("Atualização concluída com sucesso.")
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Atualização concluída com sucesso.
Tempo de execução: 2.23 segundos.

In [22]:
import time
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

# Estabeleça uma conexão com o banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

try:
    start_time = time.time()

    #Inserção de dados na tabela Main
    data = {
        'hotel': ['BDA Hotel'],
        'lead_time': [30],
        'arrival_date_year': [2023],
        'arrival_date_month': ['December'],
        'arrival_date_week_number': [48],
        'arrival_date_day_of_month': ['1'],
        'country': ['PRT'],
        'market_segment': ['Direct'],
        'distribution_channel': ['Direct'],
        'is_repeated_guest': [0],
        'booking_changes': [2],
        'days_in_waiting_list': [0],
        'company': ['BDA'],
        'customer_type': ['Transient'],
        'reservation_status_date': ['2023-12-01']
    }

    df = pd.DataFrame(data)

    # Inserção de dados na tabela 'Main_Info' usando SQLAlchemy
    df.to_sql('main_info', con=engine, if_exists='append', index=False)

    # Recupere o registro recém-inserido
    query = "SELECT id_reservation,hotel,company,reservation_status_date FROM main_info WHERE hotel = 'BDA Hotel' LIMIT 1"
    inserted_record = pd.read_sql(query, con=engine)

    end_time = time.time()
    execution_time = end_time - start_time

    print("Inserção concluída com sucesso.")
    print("Registro inserido:")
    print(inserted_record)
    print(f"Tempo de execução: {execution_time:.2f} segundos.")

except Exception as e:
    print(f"Erro durante a inserção: {str(e)}")

Inserção concluída com sucesso.
Registro inserido:
   id_reservation      hotel company reservation_status_date
0          119397  BDA Hotel     BDA              2023-12-01
Tempo de execução: 0.76 segundos.

In [24]:
#Inserção de dados nas tabelas com chave estrangeira
import time
import pandas as pd
from sqlalchemy import create_engine, exc

# Estabeleça uma conexão com o banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')
start_time = time.time()

#Novos dados a serem inseridos
data1 = {
    'id_reservation': [119397],
    'is_canceled': [0],
    'arrival_date_year': [2023],
    'arrival_date_month': ['December'],
    'agent': [48],
    'previous_cancellations': [1],
    'previous_bookings_not_canceled': [0],
    'country': ['PRT'],
    'deposit_type': ['No Deposit'],
    'reservation_status': ['Check-Out']
}

data2 = {
    'id_reservation': [119397],
    'stays_in_week_nights': [3],
    'stays_in_weekend_nights': [2],
    'adults': [2],
    'children': [1],
    'babies': [1],
    'required_car_parking_spaces': [1],
    'meal': ['BB'],
    'reserved_room_type': ['B'],
    'total_of_special_requests': [2]
}

# Inserção de dados nas tabelas 'reservas_status' e 'stays_info' usando SQLAlchemy
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

try:
    df1.to_sql('reservas_status', con=engine, if_exists='append', index=False)
    df2.to_sql('stays_info', con=engine, if_exists='append', index=False)
    print("Novos dados inseridos  com com sucesso.")
except exc.IntegrityError as e:
    print(f"Erro:  O registro já existe na tabela.")
 
end_time = time.time()
execution_time = end_time - start_time
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Inserção concluída com sucesso.
Tempo de execução: 0.04 segundos.

In [ ]:
#4-CRIAÇÃO DE INDICES NO MYSQL
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018",
    database="hotel_bookings"
)

mycursor = mydb.cursor()

# Índice para a tabela Main_Info
mycursor.execute("CREATE INDEX idx_id_reservation_main ON main_info(id_reservation)")

# Índice para a tabela Reservas_Status
mycursor.execute("CREATE INDEX idx_id_reservation_reservas ON reservas_status(id_reservation)")

# Índice para a tabela Stays_Info
mycursor.execute("CREATE INDEX idx_id_reservation_stays ON stays_info(id_reservation)")

# Confirmar as alterações no banco de dados
mydb.commit()
print("Índices criados com sucesso!")

# Fechar a conexão com o banco de dados
mydb.close()

In [11]:
#Criação da base de dados e collections índices no MongoDB
import pymongo
from pymongo import MongoClient
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from pymongo.errors import DuplicateKeyError

# Connect to MongoDB
client = MongoClient('localhost', 27017)
db = client.hotel_bookings

# Define the Main_Info collection
main_info = db['main_info']

# Criar um índice único em 'campo_unico' na coleção 'Main_Info'
main_info.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

# Define the Reservas_Status collection
reservas_status = db['reservas_status']

# Criar índices únicos em 'campo_unico_1' e 'campo_unico_2' na coleção 'Reservas_Status'
reservas_status.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

# Define the Stays_Info collection
stays_info = db['stays_info']

# Criar um índice único em 'campo_unico' na coleção 'Stays_Info'
stays_info.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

print("Coleções criadas com sucesso e índices únicos aplicados!")

Coleções criadas com sucesso e índices únicos aplicados!

In [12]:
#Inserção de Dados nas coleções
import pandas as pd
import pymongo
from pymongo.errors import DuplicateKeyError
import uuid
import time

# Estabeleça uma conexão com o MongoDB
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['hotel_bookings']

# Função para gerar ID de reserva
def generate_id_reservation():
    return str(uuid.uuid4())

# Leitura dos arquivos CSV
main_info = 'Tabela1.csv'
reservas_stays = 'Tabela2.csv'
stays_info = 'Tabela3.csv'
df1 = pd.read_csv(main_info)
df2 = pd.read_csv(reservas_stays)
df3 = pd.read_csv(stays_info)

# Inserção dos dados na Tabela1
documents_tabela1 = []
start_time = time.time()
for index, row in df1.iterrows():
    id_reservation = generate_id_reservation()
    main_info_data = {
        "id_reservation": id_reservation,
        "hotel": row['hotel'],
        "lead_time": row['lead_time'],
        "arrival_date_year": row['arrival_date_year'],
        "arrival_date_month": row['arrival_date_month'],
        "arrival_date_week_number": row['arrival_date_week_number'],
        "arrival_date_day_of_month": row['arrival_date_day_of_month'],
        "country": row['country'],
        "market_segment": row['market_segment'],
        "distribution_channel": row['distribution_channel'],
        "is_repeated_guest": row['is_repeated_guest'],
        "booking_changes": row['booking_changes'],
        "days_in_waiting_list": row['days_in_waiting_list'],
        "company": row['company'],
        "customer_type": row['customer_type'],
        "reservation_status_date": row['reservation_status_date'],
    }
    documents_tabela1.append(main_info_data)

try:
    db.main_info.insert_many(documents_tabela1)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela1 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela1. Skipping insertion.")

# Repita a estrutura para Tabela2
documents_tabela2 = []
start_time = time.time()
for index, row in df2.iterrows():
    id_reservation = generate_id_reservation()
    reservation_status_data = {
         "id_reservation": id_reservation,
        "is_canceled": row['is_canceled'],
        "arrival_date_year": row['arrival_date_year'],
        "arrival_date_month": row['arrival_date_month'],
        "agent": row['agent'],
        "previous_cancellations": row['previous_cancellations'],
        "previous_bookings_not_canceled": row['previous_bookings_not_canceled'],
        "country": row['country'],
        "deposit_type": row['deposit_type'],
        "reservation_status": row['reservation_status'],
    }
    documents_tabela2.append(reservation_status_data)

try:
    db.reservas_status.insert_many(documents_tabela2)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela2 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela2. Skipping insertion.")

# Inserção de dados na Tabela3
documents_tabela3 = []
start_time = time.time()
for index, row in df3.iterrows():
    id_reservation = generate_id_reservation()
    stays_info_data = {
        "id_reservation": id_reservation,
        "stays_in_week_nights": row['stays_in_week_nights'],
        "stays_in_weekend_nights": row['stays_in_weekend_nights'],
        "adults": row['adults'],
        "children": row['children'],
        "babies": row['babies'],
        "required_car_parking_spaces": row['required_car_parking_spaces'],
        "meal": row['meal'],
        "reserved_room_type": row['reserved_room_type'],
        "total_of_special_requests": row['total_of_special_requests'],
    }
    documents_tabela3.append(stays_info_data)
#executa a query para inserir
try:
    db.stays_info.insert_many(documents_tabela3)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela3 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela3. Skipping insertion.")

print("Data insertion completed.")

Data for Tabela1 inserted successfully. Tempo de execução: 39.99 segundos.
Data for Tabela2 inserted successfully. Tempo de execução: 34.00 segundos.
Data for Tabela3 inserted successfully. Tempo de execução: 34.27 segundos.
Data insertion completed.

In [1]:
#1-Query simples MongoDB
#Quais são os país que tiveram resevas superior a 1000 e, em que ano e mes que isto aconteceu e o hotel que mais requições teve?
import time
import pandas as pd
from pymongo import MongoClient
from pandas import json_normalize  # Importe a função json_normalize para achatar a estrutura

# Estabeleça uma conexão ao banco de dados MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Selecione o banco de dados
db = client['hotel_bookings']

# Registre o tempo de início
start_time = time.time()

# Consulta ao MongoDB
pipeline = [
    {
        "$group": {
            "_id": {
                "hotel": "$hotel",
                "country": "$country",
                "arrival_year": "$arrival_date_year",
                "arrival_month": "$arrival_date_month"
            },
            "total_reservas": {
                "$sum": 1
            }
        }
    },
    {
        "$match": {
            "total_reservas": {
                "$gt": 1000
            }
        }
    },
    {
        "$sort": {
            "total_reservas": -1
        }
    }
]

result = list(db.main_info.aggregate(pipeline))

# Achatar a estrutura do DataFrame
df_mongo = json_normalize(result)

# Regista o tempo de fim
end_time = time.time()
execution_time = end_time - start_time
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# Exiba o DataFrame resultante
print(df_mongo)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    total_reservas _id.hotel _id.country  _id.arrival_year _id.arrival_month
0             2293   7 Hotel         PRT              2015         September
1             2206   7 Hotel         PRT              2015           October
2             1897   7 Hotel         PRT              2016              June
3             1552   7 Hotel         PRT              2017               May
4             1548   7 Hotel         PRT              2015            August
5             1531   7 Hotel         PRT              2016               May
6             1435   7 Hotel         PRT              2016           October
7             1426   7 Hotel         PRT              2016             April
8             1350   7 Hotel         PRT              2016         September
9             1341   7 Hotel         PRT              2017              June
10            1300   7 Hotel         PRT              2015              July
11            1200   7 Hotel         PRT              2016          November
12            1136   7 Hotel         PRT              2016          February
13            1132   7 Hotel         PRT              2017             April
14            1114   7 Hotel         PRT              2016             March
15            1006   7 Hotel         PRT              2017             March
Tempo de execução: 0.52 segundos.

In [5]:
import time
import pandas as pd
from pymongo import MongoClient
from pandas import json_normalize  

# Estabeleça uma conexão ao banco de dados MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Selecione o banco de dados
db = client['hotel_bookings']

# Registre o tempo de início
start_time = time.time()

# Consulta ao MongoDB
pipeline = [
    {
        "$match": {
            "booking_changes": 0,
            "country": {"$ne": None}
        }
    },
    {
        "$group": {
            "_id": {
                "arrival_date_year": "$arrival_date_year",
                "country": "$country"
            },
            "total_reservas_alteradas": {
                "$sum": 1
            }
        }
    },
    {
        "$match": {
            "total_reservas_alteradas": {
                "$gt": 90
            }
        }
    },
    {
        "$sort": {
            "_id.arrival_date_year": 1
        }
    }
]

result = list(db.main_info.aggregate(pipeline))
df_mongo = json_normalize(result)

# Renomear as colunas para corresponder à consulta SQL
df_mongo = df_mongo.rename(columns={"_id": "arrival_date_year_country", "total_reservas_alteradas": "total_reservas_alteradas"})

# Use head(5) para limitar o número de resultados
df_mongo = df_mongo.head(13)

# Registre o tempo de fim
end_time = time.time()
execution_time = end_time - start_time

# Exiba o DataFrame resultante
print(df_mongo)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    total_reservas_alteradas  _id.arrival_date_year _id.country
0                        108                   2015         ISR
1                       1634                   2015         ESP
2                        172                   2015         BEL
3                      11811                   2015         PRT
4                       1126                   2015         FRA
5                        107                   2015         CHE
6                        459                   2015         DEU
7                        112                   2015          CN
8                        123                   2015         BRA
9                        432                   2015         ITA
10                      1136                   2015         GBR
11                       110                   2015         NaN
12                       140                   2015         USA
Tempo de execução: 0.40 segundos.