In [3]:
#Criação de Base de dados Mysql
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, String

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018"
)

# Create a MySQL cursor
mycursor = mydb.cursor()

try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS hotel_bookings")
except:
    pass

# Switch to the 'hotel_bookings' database
mycursor.execute("USE hotel_bookings")

print("Database 'hotel_bookings' created successfully!")

Database 'hotel_bookings' created successfully!

In [109]:
#Criação de Tabelas no maysql
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018"
)

mycursor = mydb.cursor()
mycursor.execute("USE hotel_bookings")

# Create the 'rooms' table
mycursor.execute("""
CREATE TABLE main_info (
    id_reservation INT AUTO_INCREMENT PRIMARY KEY,
    hotel VARCHAR(255),
    lead_time INT,
    arrival_date_year INT,
    arrival_date_month VARCHAR(255),
    arrival_date_week_number INT,
    arrival_date_day_of_month INT,
    country VARCHAR(255),
    market_segment VARCHAR(255),
    distribution_channel VARCHAR(255),
    is_repeated_guest INT,
    booking_changes INT,
    days_in_waiting_list INT,
    company VARCHAR(255),
    customer_type VARCHAR(255),
    reservation_status_date DATE
);

""")

# Create the 'bookings' table
mycursor.execute("""
CREATE TABLE reservas_status (
    id_reservation INT,
    is_canceled INT,
    arrival_date_year INT,
    arrival_date_month VARCHAR(255),
    agent VARCHAR(255),
    previous_cancellations INT,
    previous_bookings_not_canceled INT,
    country VARCHAR(255),
    deposit_type VARCHAR(255),
    reservation_status VARCHAR(255),
    PRIMARY KEY (id_reservation),
    FOREIGN KEY (id_reservation) REFERENCES Main_Info(id_reservation)
);

""")

# Create the 'guests' table
mycursor.execute("""
CREATE TABLE stays_info (
    id_reservation INT,
    stays_in_week_nights INT,
    stays_in_weekend_nights INT,
    adults INT,
    children INT,
    babies INT,
    required_car_parking_spaces INT,
    meal VARCHAR(255),
    reserved_room_type VARCHAR(255),
    total_of_special_requests INT,
    PRIMARY KEY (id_reservation),
    FOREIGN KEY (id_reservation) REFERENCES Main_Info(id_reservation)
);

""")

# Commit the changes to the database
mydb.commit()
print("Database 'Table main_rnfo, reservas_status, stays_info ' created successfully!")
# Close the connection to the database
mydb.close()

Database 'Table main_rnfo, reservas_status, stays_info ' created successfully!

In [110]:
#Insert de dados no mysql usando o ficheiro csv 
import pandas as pd
import time
from sqlalchemy import create_engine

# Carrega os dados CSV em DataFrames
df1 = pd.read_csv('Tabela1.csv')
df2 = pd.read_csv('Tabela2.csv')
df3 = pd.read_csv('Tabela3.csv')

# Estabeleça uma conexão com o banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Medir o tempo de execução
start_time = time.time()

# Inserir dados na base de dados
try:
    with engine.begin() as connection:
        df1.to_sql('main_info', con=connection, if_exists='append', index=False)
        df2.to_sql('reservas_status', con=connection, if_exists='append', index=False)
        df3.to_sql('stays_info', con=connection, if_exists='append', index=False)
        
    # if_exists: Este parâmetro determina o que fazer se a tabela já existir no banco de dados.
    # 'fail': Gera um ValueError se a tabela existir.
    # 'replace': Substitui a tabela existente se ela já existir.
    # 'append': Adiciona os novos dados à tabela existente.

    end_time = time.time()
    execution_time = end_time - start_time
    
    print(f"Dados inseridos com exito. Tempo de execução: {execution_time:.2f} segundos.")

# Exibir o erro caso a inserção falhar
except Exception as e:
    print(f"Error: {e}")

Dados inseridos com exito. Tempo de execução: 62.35 segundos.

In [1]:
#1-Consulta simples
#Quais são os país que tiveram resevas superior a 1000 e, em que ano e mes que isto aconteceu e o hotel que mais requições teve?
#R:
import time
import pandas as pd
from sqlalchemy import create_engine

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Registre o tempo de início
start_time = time.time()

# Consulta SQL corrigida
sql_consulta = """
    SELECT
        hotel,
        country,
        arrival_date_year AS arrival_year,
        arrival_date_month AS arrival_month,
        COUNT(*) AS total_reservas
    FROM
        main_info 
    GROUP BY
        hotel, country, arrival_date_year, arrival_date_month
    HAVING
        COUNT(*) > 1000
    ORDER BY
        total_reservas DESC
"""

# Registre o tempo de fim


# Execute a consulta e armazene o resultado em um DataFrame
df_sql = pd.read_sql(sql_consulta, con=engine)
end_time = time.time()
execution_time = end_time - start_time
# Exiba o DataFrame resultante
print(df_sql)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

            hotel country  arrival_year arrival_month  total_reservas
0   Hotel 7 Seven     PRT          2015     September            2293
1   Hotel 7 Seven     PRT          2015       October            2206
2   Hotel 7 Seven     PRT          2016          June            1897
3   Hotel 7 Seven     PRT          2017           May            1552
4   Hotel 7 Seven     PRT          2015        August            1548
5   Hotel 7 Seven     PRT          2016           May            1531
6   Hotel 7 Seven     PRT          2016       October            1435
7   Hotel 7 Seven     PRT          2016         April            1426
8   Hotel 7 Seven     PRT          2016     September            1350
9   Hotel 7 Seven     PRT          2017          June            1341
10  Hotel 7 Seven     PRT          2015          July            1300
11  Hotel 7 Seven     PRT          2016      November            1200
12  Hotel 7 Seven     PRT          2016      February            1136
13  Hotel 7 Seven     PRT          2017         April            1132
14  Hotel 7 Seven     PRT          2016         March            1114
15  Hotel 7 Seven     PRT          2017         March            1006
Tempo de execução: 3.37 segundos.

In [194]:
#2-Consulta simples
#Quais são os país que tiveram resevas alteradas suerior a 100 e, em que ano isto ocorreu? 
#R:
start_time = time.time()
sqlConsult = """
    SELECT
    arrival_date_year,
    country,
    COUNT(*) AS total_reservas_alteradas
FROM
    main_info
WHERE
    booking_changes = 0 
GROUP BY
    arrival_date_year, country
HAVING
    COUNT(*) > 90
ORDER BY
    arrival_date_year;
"""
#A cláusula HAVING é usada em combinação com GROUP BY para filtrar os resultados de uma agregação com base a contagem das reservas.
#Neste caso, estamos filtrando os resultados para incluir apenas as linhas onde o total de reservas é maior que 100.
# Execute a consulta e armazene o resultado em um DataFrame
dfSql = pd.read_sql(sqlConsult, con=engine)
end_time = time.time()
execution_time = end_time - start_time
#Estas linhas, permitem remover o numero total de linhas e colunas a serem exibidas 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# Exiba o DataFrame resultante
print(dfSql)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    arrival_date_year country  total_reservas_alteradas
0                2015    None                       110
1                2015     BEL                       172
2                2015     BRA                       123
3                2015     CHE                       107
4                2015      CN                       112
5                2015     DEU                       459
6                2015     ESP                      1634
7                2015     FRA                      1126
8                2015     GBR                      1136
9                2015     IRL                       436
10               2015     ISR                       108
11               2015     ITA                       432
12               2015     NLD                       161
13               2015     PRT                     11811
14               2015     SWE                       113
15               2015     USA                       140
16               2016    None                       224
17               2016     AGO                       153
18               2016     ARG                        93
19               2016     AUS                       147
20               2016     AUT                       544
21               2016     BEL                       960
22               2016     BRA                       868
23               2016     CHE                       714
24               2016     CHN                       465
25               2016      CN                       439
26               2016     DEU                      3226
27               2016     DNK                       150
28               2016     ESP                      3331
29               2016     FIN                       206
30               2016     FRA                      4432
31               2016     GBR                      4368
32               2016     HUN                        92
33               2016     IRL                      1230
34               2016     ISR                       229
35               2016     ITA                      1572
36               2016     LUX                       109
37               2016     MAR                       106
38               2016     NLD                       905
39               2016     NOR                       222
40               2016     POL                       426
41               2016     PRT                     19613
42               2016     ROU                       202
43               2016     RUS                       205
44               2016     SWE                       413
45               2016     TUR                       132
46               2016     USA                       767
47               2017     AGO                        97
48               2017     AUS                       191
49               2017     AUT                       406
50               2017     BEL                       870
51               2017     BRA                       851
52               2017     CHE                       637
53               2017     CHN                       382
54               2017      CN                       541
55               2017     DEU                      2366
56               2017     DNK                       176
57               2017     ESP                      2152
58               2017     FIN                       131
59               2017     FRA                      3285
60               2017     GBR                      4360
61               2017     IRL                      1163
62               2017     ISR                       223
63               2017     ITA                      1110
64               2017     LUX                       113
65               2017     NLD                       662
66               2017     NOR                       255
67               2017     POL                       239
68               2017     PRT                     11182
69               2017     ROU                       165
70               2017     RUS                       229
71               2017     SWE                       314
72               2017     USA                       752
Tempo de execução: 2.72 segundos.

In [2]:
# Duas consultas complexas, usando junções e agregações, envolvendo pelo menos
#(1) Esta consulta de agregação calcula a média do número de estadias na tabela

import pandas as pd
from sqlalchemy import create_engine
import time

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# (1) Consulta com junção e agregação
#Qual é a média do numero total de pedidos para estadias em cada hotel?
#O resultado final da consulta será uma lista de hotéis acompanhada da média do número total de pedidos especiais para estadias em cada hotel.
#Isso fornece uma visão estatística sobre os pedidos especiais médios para diferentes hotéis.
start_time = time.time()
sql_agregacao = """
    SELECT main_info.hotel, AVG(stays_info.total_of_special_requests) as media_stays_total
    FROM main_info
    INNER JOIN stays_info ON main_info.id_reservation = stays_info.id_reservation
    GROUP BY main_info.hotel
"""
# Execute a consulta e armazene o resultado em um DataFrame
df_agregacao = pd.read_sql(sql_agregacao, con=engine)
end_time = time.time()
execution_time = end_time - start_time

# Exiba o resultado do DataFrame
print(df_agregacao)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

           hotel  media_stays_total
0   Resort Hotel             0.6198
1  Hotel 7 Seven             0.5469
Tempo de execução: 5.07 segundos.

In [116]:
# Duas consultas complexas, usando junções e agregações, envolvendo pelo menos
#(1) Esta consulta de agregação calcula a média do número de estadias na tabela

import pandas as pd
from sqlalchemy import create_engine
import time

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')
# (2) Consulta com junção, filtro e agregação
#Quais são os paises cujo as reservas não foram canceladas?
#o resultado final da consulta será uma lista de países acompanhada do número total de reservas não canceladas para cada país. 
#Isso fornece uma visão estatística sobre a distribuição de reservas não canceladas em diferentes países.
start_time = time.time()
sql_rn_canceladas = """
    SELECT main_info.country, COUNT(*) as total_reservas_canceladas
    FROM main_info
    INNER JOIN reservas_status ON main_info.id_reservation = reservas_status.id_reservation
    WHERE reservas_status.is_canceled = 0
    GROUP BY main_info.country
"""
# Execute a consulta e armazene o resultado em um DataFrame
df_rnc = pd.read_sql(sql_rn_canceladas, con=engine)
end_time = time.time()
execution_time = end_time - start_time

# Exiba o DataFrame resultante
print(df_rnc)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    country  total_reservas_canceladas
0       PRT                      21071
1       GBR                       9676
2       USA                       1596
3       ESP                       6391
4       IRL                       2543
5       FRA                       8481
6      None                        421
7       ROU                        366
8       NOR                        426
9       OMN                         14
10      ARG                        160
11      POL                        704
12      DEU                       6069
13      BEL                       1868
14      CHE                       1302
15       CN                       1025
16      GRC                         93
17      ITA                       2433
18      NLD                       1717
19      DNK                        326
20      RUS                        393
21      SWE                        797
22      AUS                        319
23      EST                         65
24      CZE                        134
25      BRA                       1394
26      FIN                        378
27      MOZ                         48
28      BWA                          1
29      LUX                        178
30      SVN                         42
31      ALB                         10
32      IND                        117
33      CHN                        537
34      MEX                         75
35      MAR                        150
36      UKR                         48
37      SMR                          1
38      LVA                         46
39      PRI                         10
40      SRB                         98
41      CHL                         49
42      AUT                       1033
43      BLR                         17
44      LTU                         74
45      TUR                        146
46      ZAF                         49
47      AGO                        157
48      ISR                        500
49      CYM                          1
50      ZMB                          1
51      CPV                         12
52      ZWE                          2
53      DZA                         82
54      KOR                         78
55      CRI                         18
56      HUN                        153
57      JAM                          6
58      HRV                         75
59      IRN                         60
60      CAF                          5
61      CYP                         40
62      NZL                         68
63      IDN                         11
64      KAZ                         14
65      THA                         41
66      COL                         48
67      DOM                          6
68      MKD                          8
69      MYS                         25
70      NGA                         13
71      VEN                         14
72      GIB                          7
73      ARM                          6
74      JPN                        169
75      LKA                          7
76      CUB                          8
77      CMR                         10
78      BIH                         10
79      MUS                          6
80      COM                          2
81      SUR                          5
82      UGA                          2
83      BGR                         63
84      CIV                          4
85      JOR                         18
86      SYR                          3
87      PHL                         15
88      SGP                         23
89      BDI                          1
90      URY                         23
91      SAU                         15
92      KWT                         10
93      LBN                         22
94      AND                          2
95      VNM                          6
96      AZE                          8
97      PLW                          1
98      ARE                          8
99      QAT                          4
100     EGY                         21
101     PER                         23
102     SVK                         41
103     MDV                          3
104     MLT                         13
105     MWI                          2
106     ECU                         19
107     MDG                          1
108     ISL                         53
109     UZB                          2
110     NPL                          1
111     BHS                          1
112     PAK                          5
113     MAC                          1
114     TGO                          2
115     TWN                         37
116     HKG                          3
117     DJI                          1
118     GEO                          7
119     TUN                         20
120     STP                          2
121     SEN                          3
122     KNA                          2
123     ETH                          2
124     IRQ                         14
125     RWA                          2
126     LIE                          2
127     MMR                          1
128     PAN                          9
129     TMP                          2
130     BFA                          1
131     KEN                          4
132     MCO                          3
133     LBY                          8
134     GNB                          8
135     TZA                          2
136     MLI                          1
137     BGD                          3
138     BHR                          1
139     NAM                          1
140     BOL                         10
141     SYC                          1
142     PRY                          4
143     BRB                          4
144     ABW                          2
145     AIA                          1
146     SLV                          2
147     DMA                          1
148     GAB                          2
149     PYF                          1
150     GUY                          1
151     LCA                          1
152     ATA                          2
153     MNE                          3
154     GTM                          4
155     GHA                          2
156     ASM                          1
157     MRT                          1
158     NCL                          1
159     KIR                          1
160     SDN                          1
161     ATF                          1
162     TJK                          1
163     SLE                          1
164     LAO                          2
165     FRO                          1
Tempo de execução: 3.14 segundos.

In [31]:
# ATUALIZAÇÃO DE DADOS mysql
import pandas as pd
from sqlalchemy import create_engine, text
import time

# Estabeleça uma conexão ao banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')

# Novo valor para a coluna hotel
novo_hotel = "City Hotel"
start_time = time.time()
# Consulta de atualização
sql_update = text(f"""
    UPDATE main_info
    SET hotel = :novo_hotel
    WHERE hotel = "7 Hotel"
""")

# Execute a consulta de atualização
with engine.begin() as connection:
    connection.execute(sql_update, {"novo_hotel": novo_hotel})
end_time = time.time()
execution_time = end_time - start_time
print("Atualização concluída com sucesso.")
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Atualização concluída com sucesso.
Tempo de execução: 2.23 segundos.

In [162]:
#Inserção de dados manualmente no mysql
import time
import mysql.connector
import pandas as pd

# Estabeleça uma conexão com o banco de dados MySQL usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:cussueca2018@localhost/hotel_bookings')
start_time = time.time()
# Crie um DataFrame de exemplo para ilustrar o processo de inserção
data = {
    'hotel': ['Hotel Rossana'],
    'lead_time': [120],
    'arrival_date_year': [2023],
    'arrival_date_month': ['November'],
    'arrival_date_week_number': [22],
    'arrival_date_day_of_month': ['2023-11-22'],
    'country': ['Angola'],
    'market_segment': ['Direct'],
    'distribution_channel': ['Direct'],
    'is_repeated_guest': [0],
    'booking_changes': [0],
    'days_in_waiting_list': [0],
    'company': [None],
    'customer_type': ['Transient'],
    'reservation_status_date': ['2022-10-20']
}

df = pd.DataFrame(data)

# Inserção de dados na tabela 'Main_Info' usando SQLAlchemy
df.to_sql('main_info', con=engine, if_exists='append', index=False)
end_time = time.time()
execution_time = end_time - start_time
print("Inserção concluída com sucesso.")
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Inserção concluída com sucesso.
Tempo de execução: 0.04 segundos.

In [ ]:
#4-CRIAÇÃO DE INDICES NO MYSQL
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="cussueca2018",
    database="hotel_bookings"
)

mycursor = mydb.cursor()

# Índice para a tabela Main_Info
mycursor.execute("CREATE INDEX idx_id_reservation_main ON main_info(id_reservation)")

# Índice para a tabela Reservas_Status
mycursor.execute("CREATE INDEX idx_id_reservation_reservas ON reservas_status(id_reservation)")

# Índice para a tabela Stays_Info
mycursor.execute("CREATE INDEX idx_id_reservation_stays ON stays_info(id_reservation)")

# Confirmar as alterações no banco de dados
mydb.commit()
print("Índices criados com sucesso!")

# Fechar a conexão com o banco de dados
mydb.close()

In [11]:
#Criação da base de dados e collections índices no MongoDB
import pymongo
from pymongo import MongoClient
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from pymongo.errors import DuplicateKeyError

# Connect to MongoDB
client = MongoClient('localhost', 27017)
db = client.hotel_bookings

# Define the Main_Info collection
main_info = db['main_info']

# Criar um índice único em 'campo_unico' na coleção 'Main_Info'
main_info.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

# Define the Reservas_Status collection
reservas_status = db['reservas_status']

# Criar índices únicos em 'campo_unico_1' e 'campo_unico_2' na coleção 'Reservas_Status'
reservas_status.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

# Define the Stays_Info collection
stays_info = db['stays_info']

# Criar um índice único em 'campo_unico' na coleção 'Stays_Info'
stays_info.create_index([("id_reservation", pymongo.ASCENDING)], unique=True)

print("Coleções criadas com sucesso e índices únicos aplicados!")

Coleções criadas com sucesso e índices únicos aplicados!

In [12]:
#Inserção de Dados nas coleções
import pandas as pd
import pymongo
from pymongo.errors import DuplicateKeyError
import uuid
import time

# Estabeleça uma conexão com o MongoDB
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['hotel_bookings']

# Função para gerar ID de reserva
def generate_id_reservation():
    return str(uuid.uuid4())

# Leitura dos arquivos CSV
main_info = 'Tabela1.csv'
reservas_stays = 'Tabela2.csv'
stays_info = 'Tabela3.csv'
df1 = pd.read_csv(main_info)
df2 = pd.read_csv(reservas_stays)
df3 = pd.read_csv(stays_info)

# Inserção dos dados na Tabela1
documents_tabela1 = []
start_time = time.time()
for index, row in df1.iterrows():
    id_reservation = generate_id_reservation()
    main_info_data = {
        "id_reservation": id_reservation,
        "hotel": row['hotel'],
        "lead_time": row['lead_time'],
        "arrival_date_year": row['arrival_date_year'],
        "arrival_date_month": row['arrival_date_month'],
        "arrival_date_week_number": row['arrival_date_week_number'],
        "arrival_date_day_of_month": row['arrival_date_day_of_month'],
        "country": row['country'],
        "market_segment": row['market_segment'],
        "distribution_channel": row['distribution_channel'],
        "is_repeated_guest": row['is_repeated_guest'],
        "booking_changes": row['booking_changes'],
        "days_in_waiting_list": row['days_in_waiting_list'],
        "company": row['company'],
        "customer_type": row['customer_type'],
        "reservation_status_date": row['reservation_status_date'],
    }
    documents_tabela1.append(main_info_data)

try:
    db.main_info.insert_many(documents_tabela1)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela1 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela1. Skipping insertion.")

# Repita a estrutura para Tabela2
documents_tabela2 = []
start_time = time.time()
for index, row in df2.iterrows():
    id_reservation = generate_id_reservation()
    reservation_status_data = {
         "id_reservation": id_reservation,
        "is_canceled": row['is_canceled'],
        "arrival_date_year": row['arrival_date_year'],
        "arrival_date_month": row['arrival_date_month'],
        "agent": row['agent'],
        "previous_cancellations": row['previous_cancellations'],
        "previous_bookings_not_canceled": row['previous_bookings_not_canceled'],
        "country": row['country'],
        "deposit_type": row['deposit_type'],
        "reservation_status": row['reservation_status'],
    }
    documents_tabela2.append(reservation_status_data)

try:
    db.reservas_status.insert_many(documents_tabela2)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela2 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela2. Skipping insertion.")

# Inserção de dados na Tabela3
documents_tabela3 = []
start_time = time.time()
for index, row in df3.iterrows():
    id_reservation = generate_id_reservation()
    stays_info_data = {
        "id_reservation": id_reservation,
        "stays_in_week_nights": row['stays_in_week_nights'],
        "stays_in_weekend_nights": row['stays_in_weekend_nights'],
        "adults": row['adults'],
        "children": row['children'],
        "babies": row['babies'],
        "required_car_parking_spaces": row['required_car_parking_spaces'],
        "meal": row['meal'],
        "reserved_room_type": row['reserved_room_type'],
        "total_of_special_requests": row['total_of_special_requests'],
    }
    documents_tabela3.append(stays_info_data)
#executa a query para inserir
try:
    db.stays_info.insert_many(documents_tabela3)
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Data for Tabela3 inserted successfully. Tempo de execução: {execution_time:.2f} segundos.")
except DuplicateKeyError:
    print("Duplicate key error in Tabela3. Skipping insertion.")

print("Data insertion completed.")

Data for Tabela1 inserted successfully. Tempo de execução: 39.99 segundos.
Data for Tabela2 inserted successfully. Tempo de execução: 34.00 segundos.
Data for Tabela3 inserted successfully. Tempo de execução: 34.27 segundos.
Data insertion completed.

In [87]:
#1-Query simples Mongo
#Quais são os país que tiveram resevas superior a 1000 e, em que ano e mes que isto aconteceu e o hotel que mais requições teve?
import time
import pandas as pd
from pymongo import MongoClient
from pandas import json_normalize  # Importe a função json_normalize para achatar a estrutura

# Estabeleça uma conexão ao banco de dados MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Selecione o banco de dados
db = client['hotel_bookings']

# Registre o tempo de início
start_time = time.time()

# Consulta ao MongoDB
pipeline = [
    {
        "$group": {
            "_id": {
                "hotel": "$hotel",
                "country": "$country",
                "arrival_year": "$arrival_date_year",
                "arrival_month": "$arrival_date_month"
            },
            "total_reservas": {
                "$sum": 1
            }
        }
    },
    {
        "$match": {
            "total_reservas": {
                "$gt": 1000
            }
        }
    },
    {
        "$sort": {
            "total_reservas": -1
        }
    }
]

result = list(db.main_info.aggregate(pipeline))

# Achatar a estrutura do DataFrame
df_mongo = json_normalize(result)

# Regista o tempo de fim
end_time = time.time()
execution_time = end_time - start_time
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# Exiba o DataFrame resultante
print(df_mongo)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    total_reservas _id.hotel _id.country  _id.arrival_year _id.arrival_month
0             2293   7 Hotel         PRT              2015         September
1             2206   7 Hotel         PRT              2015           October
2             1897   7 Hotel         PRT              2016              June
3             1552   7 Hotel         PRT              2017               May
4             1548   7 Hotel         PRT              2015            August
5             1531   7 Hotel         PRT              2016               May
6             1435   7 Hotel         PRT              2016           October
7             1426   7 Hotel         PRT              2016             April
8             1350   7 Hotel         PRT              2016         September
9             1341   7 Hotel         PRT              2017              June
10            1300   7 Hotel         PRT              2015              July
11            1200   7 Hotel         PRT              2016          November
12            1136   7 Hotel         PRT              2016          February
13            1132   7 Hotel         PRT              2017             April
14            1114   7 Hotel         PRT              2016             March
15            1006   7 Hotel         PRT              2017             March
Tempo de execução: 0.16 segundos.

In [86]:
#2-query simples Mongo
#Quais são os país que tiveram resevas alteradas suerior a 100 e, em que ano isto ocorreu? 
import time
import pandas as pd
from pymongo import MongoClient
from pandas import json_normalize  # Importe a função json_normalize para achatar a estrutura


# Estabeleça uma conexão ao banco de dados MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Selecione o banco de dados
db = client['hotel_bookings']

# Registre o tempo de início
start_time = time.time()

# Consulta ao MongoDB
pipeline = [
    {
        "$match": {
            "booking_changes": 0,
            "country": {"$ne": None}
        }
    },
    {
        "$group": {
            "_id": {
                "arrival_date_year": "$arrival_date_year",
                "country": "$country"
            },
            "total_reservas_alteradas": {
                "$sum": 1
            }
        }
    },
    {
        "$match": {
            "total_reservas_alteradas": {
                "$gt": 90
            }
        }
    },
    {
        "$sort": {
            "_id.arrival_date_year": 1
        }
    }
]

result = list(db.main_info.aggregate(pipeline))
df_mongo = json_normalize(result)
# Achatar a estrutura do DataFrame

# Renomear as colunas para corresponder à consulta SQL
df_mongo = df_mongo.rename(columns={"_id": "arrival_date_year_country", "total_reservas_alteradas": "total_reservas_alteradas"})

# Registre o tempo de fim
end_time = time.time()
execution_time = end_time - start_time

# Estas linhas, permitem remover o número total de linhas e colunas a serem exibidas 
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

# Exiba o DataFrame resultante
print(df_mongo)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

    total_reservas_alteradas  _id.arrival_date_year _id.country
0                        107                   2015         CHE
1                      11811                   2015         PRT
2                        161                   2015         NLD
3                       1126                   2015         FRA
4                        140                   2015         USA
5                       1136                   2015         GBR
6                        172                   2015         BEL
7                        459                   2015         DEU
8                        432                   2015         ITA
9                       1634                   2015         ESP
10                       123                   2015         BRA
11                       436                   2015         IRL
12                       110                   2015         NaN
13                       112                   2015          CN
14                       108                   2015         ISR
15                       113                   2015         SWE
16                       222                   2016         NOR
17                       439                   2016          CN
18                       868                   2016         BRA
19                      3331                   2016         ESP
20                       109                   2016         LUX
21                       544                   2016         AUT
22                      1230                   2016         IRL
23                      4368                   2016         GBR
24                       224                   2016         NaN
25                        92                   2016         HUN
26                      3226                   2016         DEU
27                      1572                   2016         ITA
28                       905                   2016         NLD
29                       205                   2016         RUS
30                       767                   2016         USA
31                       426                   2016         POL
32                       153                   2016         AGO
33                       206                   2016         FIN
34                       106                   2016         MAR
35                       960                   2016         BEL
36                       714                   2016         CHE
37                      4432                   2016         FRA
38                       150                   2016         DNK
39                       465                   2016         CHN
40                     19613                   2016         PRT
41                       413                   2016         SWE
42                        93                   2016         ARG
43                       229                   2016         ISR
44                       132                   2016         TUR
45                       147                   2016         AUS
46                       202                   2016         ROU
47                       229                   2017         RUS
48                      1110                   2017         ITA
49                       406                   2017         AUT
50                       752                   2017         USA
51                       314                   2017         SWE
52                       165                   2017         ROU
53                       223                   2017         ISR
54                       541                   2017          CN
55                       113                   2017         LUX
56                       191                   2017         AUS
57                       176                   2017         DNK
58                       637                   2017         CHE
59                      4360                   2017         GBR
60                       382                   2017         CHN
61                     11182                   2017         PRT
62                      3285                   2017         FRA
63                      2366                   2017         DEU
64                       662                   2017         NLD
65                        97                   2017         AGO
66                       870                   2017         BEL
67                       239                   2017         POL
68                       255                   2017         NOR
69                       851                   2017         BRA
70                      2152                   2017         ESP
71                       131                   2017         FIN
72                      1163                   2017         IRL
Tempo de execução: 0.19 segundos.

In [82]:
import pandas as pd
from pymongo import MongoClient
import time

# Estabeleça uma conexão com o banco de dados MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Selecione o banco de dados
db = client['hotel_bookings']

# Defina o tempo de início
start_time = time.time()

# Coleção principal
main_info = db['main_info']

# Consulta para calcular a média do número total de pedidos especiais para estadias em cada hotel
pipeline = [
    {
        "$lookup": {
            "from": "reservation_status",
            "localField": "id_reservation",
            "foreignField": "id_reservation",
            "as": "reservation_status"
        }
    },
    {
        "$unwind": "$reservation_status"
    },
    {
        "$lookup": {
            "from": "stays_info",
            "localField": "id_reservation",
            "foreignField": "id_reservation",
            "as": "stays_info"
        }
    },
    {
        "$unwind": "$stays_info"
    },
    {
        "$group": {
            "_id": "$hotel",
            "media_pedidos_especiais": {
                "$avg": "$stays_info.total_of_special_requests"
            }
        }
    }
]

# Execute a consulta e armazene o resultado em uma lista
result = list(main_info.aggregate(pipeline))

# Crie um DataFrame a partir do resultado da agregação
df_agregacao = pd.DataFrame(result)

# Exiba os resultados
for entry in result:
    print(f"Hotel: {entry['_id']}, Média de Pedidos Especiais: {entry['media_pedidos_especiais']}")

# Registre o tempo de execução
execution_time = time.time() - start_time

# Exiba o DataFrame resultante
print(df_agregacao)
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Empty DataFrame
Columns: []
Index: []
Tempo de execução: 5.31 segundos.

In [83]:
from pymongo import MongoClient

# Conecte-se ao seu banco de dados MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["hotel_bookings"]

# Acesse a coleção relevante
collection = db["reservas_status"]

# Execute a consulta agregada para encontrar reservas não canceladas
pipeline = [
    {
        "$lookup": {
            "from": "reservation_status_data",
            "localField": "id_reservation",
            "foreignField": "id_reservation",
            "as": "reservation_status",
        }
    },
    {
        "$match": {
            "reservation_status.is_canceled": {"$eq": 0}  # Reserva não cancelada
        }
    },
    {
        "$project": {
            "country": 1  # Apenas o campo do país
        }
    },
    {
        "$group": {
            "_id": "$country",
            "total_reservations": {"$sum": 1}
        }
    },
    {
        "$sort": {"total_reservations": -1}
    },
    {"$out": "output_collection"}  # Adicionando estágio para criar uma coleção de saída
]

result = list(collection.aggregate(pipeline))

# Imprima os países com o número de reservas não canceladas
for entry in result:
    print(f"País: {entry['_id']}, Reservas não canceladas: {entry['total_reservations']}")

In [74]:
#Actualização de dados na coleção Main_Info no mongoDB
from pymongo import MongoClient
import time

# Conectar ao banco de dados
client = MongoClient('localhost', 27017)
db = client.hotel_bookings
start_time = time.time()
# Atualizar o campo 'hotel' para "7 Hotel" onde 'hotel' é igual a "City Hotel"
filter_condition = {"hotel": " City Hotel"}
update_data = {"$set": {"hotel": "City Hotel"}}

result = db.main_info.update_many(filter_condition, update_data)
execution_time = time.time() - start_time
print(f"Total de documentos correspondentes: {result.matched_count}")
print(f"Total de documentos modificados: {result.modified_count}")
print(f"Tempo de execução: {execution_time:.2f} segundos.")

Total de documentos correspondentes: 0
Total de documentos modificados: 0
Tempo de execução: 0.17 segundos.

In [66]:
#Inserção de um novo documento na coleção Main_Info no MongoDB
from pymongo import MongoClient
from datetime import datetime
from pymongo.errors import DuplicateKeyError

# Conectar ao banco de dados
client = MongoClient('localhost', 27017)
db = client.hotel_bookings

# Novo documento a ser inserido
novo_documento = {
    "id_reservation": 9999,
    "hotel": "Novo Hotel",
    "lead_time": 30,
    "arrival_date_year": 2023,
    "arrival_date_month": "Novembro",
    "arrival_date_week_number": 47,
    "arrival_date_day_of_month": 15,  # Substitua pelo valor desejado
    "country": "Portugal",
    "market_segment": 45,
    "distribution_channel": 478,
    "is_repeated_guest": 422,
    "booking_changes": 788,
    "days_in_waiting_list": 410,
    "company": "Tap",
    "customer_type": 6521,
    "reservation_status_date": datetime(2023, 11, 19)  # Utilize um objeto datetime
}

# Inserir o novo documento na coleção
try:
    result = db.Main_Info.insert_one(novo_documento)
    
    # Verificar se a inserção foi bem-sucedida
    if result.inserted_id:
        print(f"Novo documento inserido com sucesso. ID: {result.inserted_id}")

except DuplicateKeyError as e:
    print(f"Erro de chave duplicada em 'Main_Info': {e}")

except Exception as e:
    print(f"Falha ao inserir o documento. Erro: {e}")

Novo documento inserido com sucesso. ID: 6568765fd8f4d4f778a505ec